
<% layout('layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Edit Your Listing:</h3>
            <form method="post" action="/listings/<%= listings.id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input placeholder="Add a catchy title" value="<%= listings.title%>" name="listing[title]" type="text" class="form-control" required>
                    <div class="valid-feedback">
                       Title Looks good!
                    </div>
                    <div class="invalid-feedback">
                       Please Enter a Title
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="listing[description]" rows="5" cols="20" placeholder="Enter Description" class="form-control" required><%= listings.description%></textarea>
                    <div class="invalid-feedback">
                       Please Enter a short description
                    </div>
                </div>

                <div class="mb-3">
                    <p>Original Lisrings Image:</p>
                    <img src="<%= listings.image.url%>" alt="some img" style="height: 200px;">
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" type="file" class="form-control">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input placeholder="1200" name="listing[price]" type="number" value="<%= listings.price%>" class="form-control" required>
                        <div class="invalid-feedback">
                            Price Should be valid!
                        </div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input placeholder="India" name="listing[country]" type="text" value="<%= listings.country%>" class="form-control" required>
                        <div class="invalid-feedback">
                            Country name Should be valid!
                        </div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input placeholder="Maharashtra" name="listing[location]" type="text" value="<%= listings.location%>" class="form-control" required>
                    <div class="invalid-feedback">
                       location Should be valid!
                    </div>
                </div>

                <button class="btn btn-dark add-btn">Add</button>
                <br> <br>
            </form>
        </div>
    </div>
</body>
